.app-container1 {
    background-image: url('./images/edited2.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    height: 100vh;
    position: relative; /* Add this to establish a positioning context */
  }


  
.new-component {
    position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 68%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 32%;
    
    
  }
  .navbar{
    
    background-color: ;
    border: none;
    
   
  }
  
  .navbar-text{
    color: black;
  }
  
  .navbar-text-uic{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e65b7a;
  }
  
  .main-title{
  
    position: absolute; 
    z-index: 1;
    top: 30%; /* Position it vertically at 50% from the top */
    left:55%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 30px;
    font-weight: 100;
  
  }
  
  
  .Id-box{
    position: absolute; 
    z-index: 1;
    top: 33%; /* Position it vertically at 50% from the top */
    left: 55%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    
    margin-top: 100px;   
  
  }
  
  .inside-box{
    width: 200%;
    
  }
  
  .name-box{
    position: absolute; 
    z-index: 1;
    top: 51%; /* Position it vertically at 50% from the top */
    left: 55%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    margin-top: -40px; 
  
  }
  .inside-name{
    width: 200%;
    
    
  }
  
  
  .email-box{
    position: absolute; 
    z-index: 1;
    top: 58%; /* Position it vertically at 50% from the top */
    left: 55%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    margin-top: -60px;   
  }
  
  .inside-email{
    width: 200%;
  }
  
  .password-box{
    position: absolute; 
    z-index: 1;
    top: 67%; /* Position it vertically at 50% from the top */
    left: 54.5%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    margin-top: -80px; 
  }
  
  .inside-password{
    width: 200;
  
  }
  
  
  
  #username{
  
    margin-top: -8px;
    color: #e65b7a;
  }
  #password1{
    
    margin-top: -27px;
    margin-left: 10px;
  }
  

  @media (max-width: 1920px) {
    .new-component{
      position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 65%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 32%;
      
    }
  }
  
  @media (max-width: 1920px) {
    .main-title{
      margin-left: 100px;
      
    }
  }
  @media (max-width: 1920px) {
    .Id-box, .name-box, .email-box, .password-box{
      margin-left: 100px;
      
    }
  }
 

  
  @media (max-width: 1440px) {
    .main-title{
      margin-left: 50px;
      
    }
  }
  @media (max-width: 1440px) {
    .new-component{
    position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 67%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 38%;
    
      
    }
  }
  @media (max-width: 1440px) {
    .navbar-text, .p-menuitem-icon{
      font-size: 13px;
       
      
      
    }
  }
  @media (max-width: 1440px) {
    .Id-box, .name-box, .email-box, .password-box{
      margin-left: 50px;
      
    }
  }
  @media (max-width: 1440px) {
    .app-container1{
      background-image: url('./images/edited2.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 45%;
    height: 100vh;
    position: relative; 
      
    }
  }
 

  

  @media (max-width: 1024px) {
    .main-title{
      margin-left: 200px;
      
    }
  }
  @media (max-width: 1024px) {
    .new-component{
        position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 70%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 55%;
      
      
    }
  }
  @media (max-width: 1024px) {
    .navbar-text, .p-menuitem-icon{
      font-size: 9  px;
       
      
      
    }
  }
  @media (max-width: 1024px) {
    .navbar-text-uic{
      font-size: 17px;
       
      
      
    }
  }

  @media (max-width: 1024px) {
    .main-title{
      margin-left: 50px;
      
    }
  }

  @media (max-width: 1024px) {
    .app-container1{
      background-image: url('./images/edited2.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 40%;
    height: 100vh;
    position: relative; 
      
    }
  }
 







  
  
  