.tools-navbar-text-2{
    width: 30%;
    left: 35%;
    margin-top: 30px;
    position: relative;
}
.asdasd{
    width: 100%;
    background-color: pink;
    height: 20vh;
    position: absolute;
    right: 0%;
    top: 0%;
}
.toolstitile{
    position: absolute;
    top: 25%;
    left: 10% ;
}