*{
  margin: 0;
}

.app-container {
  background-image: url('./assets/images/edited.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: 100vh;
  position: relative; /* Add this to establish a positioning context */
}

.outerflex{
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */  
  align-items: center; /* Center items vertically */
}
.Id-box-main{
  position: absolute; 
  z-index: 1;
  top: 33%;
  left: 55%; 
  transform: translate(-50%, -50%); 
  margin-top: 100px;   
  
}
.inside-box{
  width: 200%;
  
  
}

.password-box1{
  position: absolute; 
  z-index: 1;

  top: 50%; /* Position it vertically at 50% from the top */
  left: 55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
}

.inside-password{
  width: 200%;


  top: 51%; /* Position it vertically at 50% from the top */
  left: 55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
   

}
.inside-name{
  width: 200%;
  

}


.email-box{
  position: absolute; 
  z-index: 1;
  top: 58%; /* Position it vertically at 50% from the top */
  left: 55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */

}

.inside-email{
  width: 200%;
}

.password-box-main{
  position: absolute; 
  z-index: 1;
  top: 53%; /* Position it vertically at 50% from the top */
  left: 54.5%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
}

.inside-password{
  width: 200px;

}



#username-main{

  margin-top: -8px;
  color: #e65b7a;
}
#password-main{
  
  margin-top: -27px;
  margin-left: 10px;
  
}


@media (max-width: 1440px) {
  .app-container{
    background-image: url('./assets/images/edited.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 45%;
  height: 100vh;
  position: relative; 
    
  }
}


@media (max-width: 1920px) {
  .Id-box-main, .password-box-main{
    margin-left: 100px;
    
  }
}
@media (max-width: 1920px) {
   .password-box-main{
    margin-left: 100px;
    margin-top: -20px;
    
  }
}

@media (max-width: 1627px) {
  .password-box-main{
   margin-top: -120px;
   margin-left: 86px;
   
   
 }
}

@media (max-width: 1549px) {
  .password-box-main{
   margin-top: -120px;
   margin-left: 156px;
   
   
 }
}
@media (max-width: 1549px) {
  .Id-box-main{
    
    margin-left: 169px;
    
    
  }
}



@media (max-width: 1440px) {
  .Id-box-main{
    margin-left: 26px;
    width: 10%;
    
  }
}
@media (max-width: 1440px) {
   .password-box-main{
    margin-left: 50px;
    
  }
}
@media (max-width: 1024px) {
  .app-container{
    background-image: url('./assets/images/edited.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 40%;
  height: 100vh;
  position: relative; 
    
  }
}
@media (max-width: 1024px) {
  .Id-box-main{
    margin-left: 1.4px;
    width: 9.65%;
    
  }
}
@media (max-width: 1024px) {
   .password-box-main{
    margin-top: 10px;
    margin-left: 45px;
    
  }
}
@media screen and (max-width: 1627px), 
       screen and (max-height: 910px) {
        
        .password-box-main{
          position: absolute; 
          z-index: 1;
          top: 57%; /* Position it vertically at 50% from the top */
          left: 54.5%; /* Position it horizontally at 50% from the left */
          transform: translate(-50%, -50%);
        }
}

@media screen and (max-width: 1627px), 
       screen and (max-height: 748px) {
        .Id-box-main{
          top: 29%;
          left: 54.2%;
          
}
       }









