#login-button{
    position: absolute; 
  z-index: 1;
  top: 72%; /* Position it vertically at 50% from the top */
  left: 55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}
#Signup-button{
    position: absolute; 
    z-index: 1;
    top: 72%; /* Position it vertically at 50% from the top */
    left: 66%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #e65b7a;;

}
#login-button1{
  position: absolute; 
z-index: 1;
top: 72%; /* Position it vertically at 50% from the top */
left: 55%; /* Position it horizontally at 50% from the left */
transform: translate(-50%, -50%);
width: 200px;
background-color: #e65b7a;;
}
#Signup-button1{
  position: absolute; 
  z-index: 1;
  top: 72%; /* Position it vertically at 50% from the top */
  left: 66%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}
#studentpage-button{
  position: absolute; 
  z-index: 1;
  top: 78%; /* Position it vertically at 50% from the top */
  left: 60.2%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}

@media (max-width: 1920px) {
  #login-button, #Signup-button{
    margin-left: 100px;
    
  }
}
@media (max-width: 1440px) {
  #login-button {
    margin-left: 30px;
    width: 10%;
    
  }
}
@media (max-width: 1440px) {
   #Signup-button{
    margin-left: 25px;
    width: 10%;
    
  }
}
@media (max-width: 1024px) {
  #login-button {
    margin-left: 3px;
    width: 10%;
    
  }
}
@media (max-width: 1024px) {
   #Signup-button{
    margin-left: 2px;
    width: 10%;
    
  }
}

@media screen and (max-width: 1837px), 
       screen and (max-height: 700px) {
        #Signup-button{
          position: absolute; 
          z-index: 1;
          
          top: 72%; /* Position it vertically at 50% from the top */
          left: 69%; /* Position it horizontally at 50% from the left */
          transform: translate(-50%, -50%);
          width: 200px;
          background-color: #e65b7a;;
}
       }
       @media screen and (max-width: 1447px), 
       screen and (max-height: 700px) {
        #login-button{
          position: absolute; 
        z-index: 1;
        top: 72%; /* Position it vertically at 50% from the top */
        left: 52%; /* Position it horizontally at 50% from the left */
        transform: translate(-50%, -50%);
        width: 200px;
        background-color: #e65b7a;;
}
       }