#login-button{
    position: absolute; 
  z-index: 1;
  top: 72%; /* Position it vertically at 50% from the top */
  left: 55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}
#Signup-button{
    position: absolute; 
    z-index: 1;
    top: 72%; /* Position it vertically at 50% from the top */
    left: 66%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #e65b7a;;

}
#login-button:hover, #Signup-button:hover {
  background-color: #110f0f; /* Darken the background color on hover */
}



#login-button1{
  position: absolute; 
z-index: 1;
top: 72%; /* Position it vertically at 50% from the top */
left: 55%; /* Position it horizontally at 50% from the left */
transform: translate(-50%, -50%);
width: 200px;
background-color: #e65b7a;;
}
#Signup-button1{
  position: absolute; 
  z-index: 1;
  top: 72%; /* Position it vertically at 50% from the top */
  left: 66%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}
#studentpage-button{
  position: absolute; 
  z-index: 1;
  top: 78%; /* Position it vertically at 50% from the top */
  left: 60.2%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #e65b7a;;
}

@media (max-width: 1920px) {
  #login-button, #Signup-button{
    margin-left: 100px;
    
  }
}
@media (max-width: 1440px) {
  #login-button {
    margin-left: 80px;
    width: 10%;
    
  }
}
@media (max-width: 1440px) {
   #Signup-button{
    margin-left: 40px;
    width: 10%;
    
  }
}

@media (max-width: 1418px) {
  #login-button {
    margin-left: 80px;
    width: 10%;
    
  }
}
@media (max-width: 1418px) {
   #Signup-button{
    margin-left: 50px;
    width: 10%;
    
  }
}

@media (max-width: 1363px) {
  #login-button {
    margin-left: 80px;
    width: 10%;
    
  }
}
@media (max-width: 1362px) {
   #Signup-button{
    margin-left: 70px;
    width: 10%;
    
  }
}

@media (max-width: 1243px) {
  #login-button {
    margin-left: 85px;
    width: 5%;
    
  }
}
@media (max-width: 1243px) {
   #Signup-button{
    margin-left: 90px;
    width: 5%;
    
  }
}

@media (max-width: 1166px) {
  #login-button {
    margin-left: 100px;
    width: 5%;
    
  }
}
@media (max-width: 1166px) {
   #Signup-button{
    margin-left: 120px;
    width: 5%;
    
  }
}
@media (max-width: 1062px) {
  #login-button {
    margin-left: 110px;
    width: 5%;
    
  }
}
@media (max-width: 1062px) {
   #Signup-button{
    margin-left: 140px;
    width: 5%;
    
  }
}

@media (max-width: 1024px) {
  #login-button {
    margin-left: 110px;
    width: 5%;
    
  }
}
@media (max-width: 1024px) {
   #Signup-button{
    margin-left: 140px;
    width: 5%;
    
  }
}

@media (max-width: 1002px) {
  #login-button {
    margin-left: 110px;
    width: 5%;
    
  }
}
@media (max-width: 1002px) {
   #Signup-button{
    margin-left: -59px;
    margin-top: 60px;
    width: 5%;
    
  }
}

@media (max-width: 921px) {
  #login-button {
    margin-left: 110px;
    width: 5%;
    
  }
}
@media (max-width: 921px) {
   #Signup-button{
    margin-left: -44px;
    margin-top: 60px;
    width: 5%;
    
  }
}

@media (max-width: 854px) {
  #Signup-button{
   margin-left: -22px;
   margin-top: 60px;
   width: 5%;
   
 }
}

@media (max-width: 1021px) {
  #login-button {
    margin-left: -90px;
    width: 5%;
    
  }
}
@media (max-width: 1021px) {
   #Signup-button{
    margin-left: -30px;
    margin-top: 00px;
    width: 5%;
    
  }
}





@media (max-width: 921px) {
  #login-button {
    margin-left: -90px;
    width: 5%;
    
  }
}
@media (max-width: 921px) {
   #Signup-button{
    margin-left: -30px;
    margin-top: 00px;
    width: 5%;
    
  }
}









@media screen and (max-width: 1837px), 
       screen and (max-height: 700px) {
        #Signup-button{
          position: absolute; 
          z-index: 1;
          
          top: 72%; /* Position it vertically at 50% from the top */
          left: 69%; /* Position it horizontally at 50% from the left */
          transform: translate(-50%, -50%);
          width: 200px;
          background-color: #e65b7a;;
}
       }
       @media screen and (max-width: 1447px), 
       screen and (max-height: 700px) {
        #login-button{
          position: absolute; 
        z-index: 1;
        top: 72%; /* Position it vertically at 50% from the top */
        left: 52%; /* Position it horizontally at 50% from the left */
        transform: translate(-50%, -50%);
        width: 200px;
        background-color: #e65b7a;;
}
       }

    
       