.app-container2 {
    background-image: url('./images/uic-logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 90%;
    height: 35vh;
    left: 3%;
    margin-top: 70px;
    position: relative; /* Add this to establish a positioning context */
    
  }

  .uic-full{
    position: absolute; 
    z-index: 1;
    top: 40%; /* Position it vertically at 50% from the top */
    left:50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 400px;
    font-size: 20px;
    font-weight: 100;
    font-weight: bold;

  }

  .Davao-city{
    position: absolute; 
    z-index: 1;
    top: 43%; /* Position it vertically at 50% from the top */
    left:56%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 350px;
    font-size: 20px;
    font-weight: 100;


  }

  .equipment-title{
     position: absolute; 
    z-index: 1;
    top: 48%; /* Position it vertically at 50% from the top */
    left:50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 350px;
    font-size: 20px;
    font-weight: 100;


  }

  .line{
    position: absolute; 
    z-index: 1;
    top: 50%; /* Position it vertically at 50% from the top */
    left: 51%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 1000px;
    font-size: 20px;
    font-weight: 100;

  }

  .newline{
    position: absolute; 
    z-index: 1;
    top: 110%; /* Position it vertically at 50% from the top */
    left: 51%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 1000px;
    font-size: 20px;
    font-weight: 100;

  }
  .dearsir{
    position: absolute; 
    z-index: 1;
    top: 60%; /* Position it vertically at 50% from the top */
    left:20%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20px;
    font-weight: 100;
  
  }
  .dearsirsentence{
    position: absolute; 
    z-index: 1;
    top: 63%; /* Position it vertically at 50% from the top */
    left:40%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 100;

  }

  .new-component2 {
    position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 32%;
    
    
  }
  .navbar2{
    
    
    border: none;
    
   
  }
  
 .first-dropdown{
    position: absolute; 
    z-index: 1;
    top: 65%; /* Position it vertically at 50% from the top */
    left: 30%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    
    margin-top: 100px;   
  
 }

 .room-dropdown{
  position: absolute; 
    z-index: 1;
    top: 65%; /* Position it vertically at 50% from the top */
    left: 40%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    
    margin-top: 100px;   

 }

 .dropdown-box{
    width: 250px;
 }

 .text-inside{
    margin-top: -19px;
    margin-bottom: 4px;
    
 }


.purpose-box{
  position: absolute; 
  z-index: 1;
  top: 78%; /* Position it vertically at 50% from the top */
  left:60%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 100;
}

.inside-purpose-box{
  width: 120%;
}
.dateandTime{
  
  position: absolute; 
  z-index: 1;
  top: 74%; /* Position it vertically at 50% from the top */
  left:76%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 100;

}


 .liable-sentence{
    
    position: absolute; 
    z-index: 1;
    top: 120%; /* Position it vertically at 50% from the top */
    left:30%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    
    font-size: 20px;
    font-weight: 100;
 }

 


.course-year{
  position: absolute; 
  z-index: 1;
  top: 140%; /* Position it vertically at 50% from the top */
  left:23%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  height: 30vh;
  font-size: 20px;
  font-weight: 100;

}

.submit-button{
  position: absolute; 
  z-index: 1;
  top: 160%; /* Position it vertically at 50% from the top */
  left:50%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  height: 30vh;
  font-size: 20px;
  font-weight: 100;

}

#submitcolor-button{
  background-color: pink;
  border: none;
}
 
@media (max-width: 1440px) {
  .first-dropdown{
    position: absolute; 
    z-index: 1;
    top: 65%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    margin-top: 100px;   
    
    
  }
}
@media (max-width: 1440px) {
  .purpose-box{
    position: absolute; 
  z-index: 1;
  top: 78%; /* Position it vertically at 50% from the top */
  left:55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 100;
    
  }
}
@media (max-width: 1440px) {
  .new-component2{
    position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 40%;
  }
}
@media (max-width: 1440px) {
  .app-container2{
    background-image: url('./images/uic-logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 90%;
    height: 25vh;
    left: 6%;
    top: 10%;
    margin-top: 50px;
    position: absolute;
  }
}


@media (max-width: 1024px) {
  .first-dropdown{
    position: absolute; 
    z-index: 1;
    top: 65%; 
    left: 17%; 
    transform: translate(-50%, -50%); 
    margin-top: 100px;   
    
    
  }
}
@media (max-width: 1024px) {
  .room-dropdown{
    position: absolute; 
    z-index: 1;
    top: 65%; /* Position it vertically at 50% from the top */
    left: 34%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    
    margin-top: 100px; 
    
  }
}
@media (max-width: 1024px) {
  .purpose-box{
    position: absolute; 
  z-index: 1;
  top: 78%; /* Position it vertically at 50% from the top */
  left:55%; /* Position it horizontally at 50% from the left */
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 100;
    
  }
}


@media (max-width: 1024px) {
  .inside-purpose-box{
    width: 70%;
    
  }
}

@media (max-width: 1024px) {
  .app-container2{
    background-image: url('./images/uic-logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 90%;
    height: 19vh;
    left: 4%;
    top: 10%;
    margin-top: 59px;
    position: absolute;
  }
}
@media (max-width: 1024px) {
  .new-component2{
    position: absolute; 
    z-index: 1;
    top: 12%; /* Position it vertically at 50% from the top */
    left: 53%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 54%;
  }
}
@media (max-width: 1024px) {
  .navbar-text{
    font-size: 15px;
  }
}
@media (max-width: 945px) {
  .app-container2{
    display: none;
  }
}
@media (max-width: 945px) {
  .new-component2{
    position: absolute; 
    z-index: 1;
    top: 5%; /* Position it vertically at 50% from the top */
    left: 30%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 54%;
  }
}

