.app-container2 {
    background-image: url('./images/uic-logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 90%;
    height: 35vh;
    left: 3%;
    margin-top: 70px;
    position: relative; /* Add this to establish a positioning context */
  }

  .uic-full{
    position: absolute; 
    z-index: 1;
    top: 40%; /* Position it vertically at 50% from the top */
    left:50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 400px;
    font-size: 20px;
    font-weight: 100;
    font-weight: bold;

  }

  .Davao-city{
    position: absolute; 
    z-index: 1;
    top: 43%; /* Position it vertically at 50% from the top */
    left:56%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 350px;
    font-size: 20px;
    font-weight: 100;


  }

  .equipment-title{
     position: absolute; 
    z-index: 1;
    top: 48%; /* Position it vertically at 50% from the top */
    left:50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 350px;
    font-size: 20px;
    font-weight: 100;


  }

  .line{
    position: absolute; 
    z-index: 1;
    top: 50%; /* Position it vertically at 50% from the top */
    left: 51%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 1000px;
    font-size: 20px;
    font-weight: 100;

  }
  .dearsir{
    position: absolute; 
    z-index: 1;
    top: 60%; /* Position it vertically at 50% from the top */
    left:20%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20px;
    font-weight: 100;
  
  }
  .dearsirsentence{
    position: absolute; 
    z-index: 1;
    top: 63%; /* Position it vertically at 50% from the top */
    left:40%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 100;

  }

  .new-component2 {
    position: absolute; 
    z-index: 1;
    top: 8%; /* Position it vertically at 50% from the top */
    left: 50%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    width: 32%;
    
    
  }
  .navbar2{
    
    background-color: ;
    border: none;
    
   
  }
  
 .first-dropdown{
    position: absolute; 
    z-index: 1;
    top: 65%; /* Position it vertically at 50% from the top */
    left: 30%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the component both vertically and horizontally */
    
    margin-top: 100px;   
  
 }

 .dropdown-box{
    width: 250px;
 }

 .text-inside{
    margin-top: -19px;
    margin-bottom: 4px;
    
 }



 .liable-sentence{
    position: absolute; 
    z-index: 1;
    top: 120%; /* Position it vertically at 50% from the top */
    left:30%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: px;
    font-size: 20px;
    font-weight: 100;
 }

 .courseandyear{
    position: absolute; 
    z-index: 1;
    top: 125%; /* Position it vertically at 50% from the top */
    left:19%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: px;
    font-size: 20px;
    font-weight: 100;

 }
 .totalstudent{
    position: absolute; 
    z-index: 1;
    top: 129%; /* Position it vertically at 50% from the top */
    left:19%; /* Position it horizontally at 50% from the left */
    transform: translate(-50%, -50%);
    width: px;
    font-size: 20px;
    font-weight: 100;

 }

